.app {
	height: 100%;
	// margin-top: 86px;
	// background-color: #fff000;
}

.content {
	width: 100%;
	// margin-top: 44px;
	// background-color: #ff0000;
}

.course-box-top {
	width: 100%;
	height: 187px;
	background-color: #ffc396;
}

.course-header {
	width: 100%;
	background-color: #fff;
	// height: 44px;
	height: constant(safe-area-inset-top);
	height: env(safe-area-inset-top);
	// display: none;
	// height: 65px;
	position: fixed;
	// top: 0;
	top: -constant(safe-area-inset-top);
	top: -env(safe-area-inset-top);
	// margin-top: 21px;
	// background-color: transparent;
	// padding-top: 21px;
	// background-color: #ff0000;
	background-color: #fff;

	.course-box-tab {
		width: 100%;
		height: 44px;
		z-index: 3000;
		// background: #FFFFFF;

		.course-tab-item {
			width: 60%;
			height: 100%;
			margin: 0 auto;
			display: flex;
			// align-items: center;
			text-align: center;

			div {
				width: 50%;
				line-height: 1;
				margin-top: 17px;

				p {
					width: 100%;
					font-size: 16px;
					// color: #000;
					color: rgba(0, 0, 0, 0.3);
					padding: 0;
					margin: 0;
					display: inline-block;
					font-family: "SourceHanSansCN-Medium";

				}

				span {
					padding: 0;
					margin: 0;
					margin-top: 11px;
					display: inline-block;
					width: 30px;
					height: 4px;
					background-color: #ff6666;
					border-radius: 2px;
				}
			}
		}
	}
}

.active-tab {
	color: rgba(0, 0, 0, 0.8);
}

// .inactive-tab {
// 	color: rgba(0, 0, 0, 0.3);
// }

.course-content {
	// padding-top: 44px;
}

.course-card {
	width: 100%;
	background: transparent;
}

.course-user-top {
	width: 375px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff4d0;

	p {
		width: 375px;
		height: 34px;
		line-height: 34px;
		font-size: 13px;
		color: rgba(0, 0, 0, 0.5);
		padding: 0 15px;
	}

	span {
		display: inline-block;
		margin-left: auto;
		width: 16px;
		height: 16px;
		margin-right: 16px;

		img {
			width: 100%;
			height: 100%;
		}
	}
}

.course-user-day,
.course-user-all {
	width: 345px;
	margin: 20px auto;

	.course-day-title {
		width: 100%;
		display: flex;
		align-items: center;

		p {
			font-size: 18px;
			color: rgba(0, 0, 0, 0.8);
			font-family: "SourceHanSansCN-Medium";
		}

		span {
			margin-left: auto;
			font-size: 12px;
			color: rgba(0, 0, 0, 0.5);
			display: flex;
			align-items: center;
		}
	}
}

.more-img {
	padding-top: 16px;
	padding-bottom: 16px;
	// background-color: #fff000;
	text-align: center;

	img {
		display: inline-block;
		width: 13px;
		height: 13px;
		margin: 0 auto;
	}
}

.course-user-tab {
	width: 345px;
	margin: 20px auto;
	display: flex;

	p {
		display: inline-block;
		padding-right: 38px;
		font-size: 15px;
		color: rgba(0, 0, 0, 0.3);
		text-align: center;

		span {
			width: 30px;
			height: 4px;
			display: block;
			background-color: #ff6666;
			border-radius: 2px;
			margin: 0 auto;
		}
	}
}

.course-user-tab p.tabActive {
	color: rgba(0, 0, 0, 0.8);
}

.course-user-null {
	width: 100%;
	margin: 0 auto;
	margin-top: 60px;
	text-align: center;

	p {
		font-size: 14px;
		color: rgba(0, 0, 0, 0.5);
	}

	span {
		margin-top: 24px;
		display: inline-block;
		width: 155px;
		height: 48px;
		background-image: linear-gradient(90deg, #ff6666 0%, #ff9043 100%);
		border-radius: 24px;
		font-size: 17px;
		color: #ffffff;
		line-height: 48px;
	}
}

.course-list {
	box-shadow: 0px 0px 8px 3px rgba(76, 76, 76, 0.06);
	border-radius: 8px;
	margin-top: 20px;
}